html, body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
}

header {
  margin-bottom: 16px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 8px;
}

p {
  font-size: 20px;
  color: crimson;
  font-weight: 300;
}

.main {
  margin: 0 auto;
  height: 100vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game, 
.ship-select,
.start-screen {
  margin: 0 auto;
  margin-top: -24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.grid {
  position: relative;
  margin: 0 auto;
  margin-bottom: 16px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #999;
}

.fleet {
  position: relative;
  top: 0;
  left: 0;
}

.ship {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}

.ship:hover {
  cursor: pointer;
}

.ship-horizontal {
  flex-direction: row;
}

.ship-veritcal {
  flex-direction: column;
}

.square {
  height: 80px;
  width: 80px;
  border: 1px solid #999;
  box-sizing: border-box;
}

.square-is-available:hover {
  border: 3px solid black;
}

.square-empty {
  background-color: #FFF;
}

.square-missed {
  background-color: #DDD;
}

.square-active {
  background-color: #222;
}

.square-damaged {
  background-color: crimson;
}

.square-is-ship {
  background-color: #DDD;
}

.square-is-ship:hover {
  cursor: pointer;
}

.selected {
  background-color: mediumaquamarine;
}

.move:hover {
  background-color: #DDD;
  cursor: pointer;
}

.btn {
  padding: 16px 24px;
  font-size: 24px;
  color: #999;
  border: 2px solid #999;
  background-color: #FFF;
}

.btn:hover {
  background-color: #EEE;
  cursor: pointer;
}

.btn:active {
  outline: 0;
}
